<html>
    <%- include ('./partials/head') %> 
    <%- include ('./partials/header') %> 
    <body>
        <h1><%=pelicula.title%></h1>
        <p>Duracion: <%=pelicula.length%> minutos</p>
        <p>Esta pelicula tiene un rating de: <%=pelicula.rating%>/10.0 </p>
        <form action="/movies/edit/<%=pelicula.id%>" method="get">
            <button type="submit">Editar</button>
        </form>
        <form action="/movies/delete/<%=pelicula.id%>" method="get">
            <button type="submit">ELIMINAR</button>
        </form>
    </body>
</html>