<html>
<%- include ('./partials/head') %>
    <%- include ('./partials/header') %>

        <body class="body-detail-producto">
            <h2 class="titulo-producto"><%= product.name %> >>>>>>>>></h2>
            <section class="producto-detalle">
                <article class="article-imagen">

                <img class="imagen-producto-detail" src="/images/products/<%=product.image%> " alt="">
                <p class="description-text"><%= product.description%></p>

                </article>

                <article class="article-info">

                <h1 class="name-text"><%= product.name%></h1>

                <div class="precio-descuento">
                    
                <p class="texto-precio"><%= product.price%>$</p>
                <p class="texto-precio"><%= product.discount%>%</p>
                </div>
                <ul class="actions-list">
                    <li>
                        <i class="fas fa-credit-card"></i>
                        <p>Pagá en 12 cuotas sin interes</p>
                    </li>
                    <li>
                        <i class="fas fa-store"></i>
                        <p>Retiro gratis en locales del vendedor</p>
                    </li>
                </ul>
                </form>
                </article>
            </section>
        </body>

</html>