<html>
    <%- include ('./partials/head') %> 
    <%- include ('./partials/header') %> 
    <body>
    <h1>Lista de productos</h1>
    <section class="product-list-contain">
    <% for(let i=0; i < products.length; i++){ %>
        <div class="product-contain">
        <img class="product-list-image" src="/images/products/<%=products[i].image%>" alt="imagen del producto">
        <p>Nombre: <%=products[i].name%></p>
        <p>Precio: <%=products[i].price%></p>
        <p>Descuento : <%=products[i].price%> OFF</p>
        <a href="/products/detail/<%=products[i].id%>">DETALLE</a>
        </div>
     <% } %> 
    </section>
</body>
</html>