 <!DOCTYPE html>
 <html>
    <%- include ('./partials/head') %> 
    <%- include ('./partials/header') %> 
 <body>
     
 </body>
 </html>
 <html>
     <h1>LISTA DE USUARIOS!!!</h1>
     <h2><a href="/users/register">Crear nuevo usuario</a></h2>
     <% for (let i = 0 ; i <users.length ; i++ ){ %>
        <div>
            <p>USUARIO: <%=users[i].name %></p>
            <p>EMAIL: <%=users[i].email %></p>
            <p>CONTRASEÑA: <%=users[i].password %></p>
            <img src="/images/users/<%=users[i].image %>" alt="imagen del usuario" width="10%">
            <form action="/users/delete/<%=users[i].id%>" method="POST">
                <button type="submit">BORRAR USUARIO</button>
            </form>
            <p>_____________________________</p>
        </div>
     <% } %>


 </html>